@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$dark-blue: #183059;
$light-blue: #276FBF;
$whitish: #F6F4F3;
$redish: #F03A47;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	text-decoration: none;
	list-style: none;
}

body {
	background-color: $light-blue;
	color: $whitish;
	font-family: 'Ubuntu', sans-serif;
}

button {
	cursor: pointer;
	outline: none;
	color: $whitish;
	background-color: transparent;
	border: 2px dashed $redish;
	font-size: 1.2em;
	&:focus {
		border: 2px dashed $redish;
	}
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.column-card-list {
	min-height: 200px;
	min-width: 200px;
}

.kanban {
	.grid {
		.board {
			.board-header {
				background-color: $dark-blue;
				color: $whitish;
				display: flex;
				justify-content: space-around;
				align-items: center;
				height: 100px;
				width: 100%;
				h1 {
					font-size: 2.5em;
					border-bottom: 2px dashed $redish;
				}
				.create-column {
					width: 200px;
					height: 50px;
					outline: none;
				}
				.modal {
					display: none; 
					position: fixed; 
					z-index: 1; 
					left: 0;
					top: 0;
					width: 100%; 
					height: 100%; 
					overflow: auto; 
					background-color: rgb(0,0,0); 
					background-color: rgba(0,0,0,0.6);
				}
				#myBtn {
					border: none;
					padding-left: 10px;
				}
				.modal-content {
					color: $whitish;
					background-color: $light-blue;
					border: 2px solid $whitish;
					position: relative;
					text-align: center;
					margin: 100px auto;
					padding: 20px;
					width: 500px;
					font-weight: bolder;
					font-size: 20px;
					user-select: none;
					.close {
						color: $whitish;
						position: absolute;
						top: -5px;
						right: 5px;
						font-size: 28px;
						font-weight: bold;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
			.column-container {
				background-color: $light-blue;
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
				.column {
					border-radius: 6px;
					background-color: $dark-blue;
					margin: 10px;
					min-width: 350px;
					min-height: 410px;
					box-shadow: 3px 3px 10px rgba(0,0,0,.4);
					position: relative;

					.column-title {
						font-size: 2em;
						text-align: center;
						padding: 15px;
						border-bottom: 3px solid $light-blue;
					}
							
					> .btn-delete {
						width: 20px;
						height: 20px;
						border: none;
						background-color: transparent;
						line-height: 10px;
						position: absolute;
						top: 2px;
						right: 2px;
					}
					.add-card {
						display: block;
						width: 330px;
						height: 50px;
						margin: 10px auto;
						text-align: center;
					}
					.card {
						background-color: $dark-blue;
						margin: 10px auto;
						border: 3px solid $light-blue;
						border-radius: 6px;
						min-height: 80px;
						width: 330px;
						.card-description {
							padding: 10px;
							font-size: 1.1em;
						}
						button {
							float: right;
							width: 20px;
							height: 20px;
							line-height: 10px;
							background-color: transparent;
							border: none;
							outline: none;
						}
						.card-desctiption {
							width: 100%;
							height: 100%;
							padding: 5px;
						}
					}
				}
			}
		}
	}
}
